* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}
h1 {
    font-size: 80px;
    color: #1b54c5;
    text-shadow: rgb(201, 217, 221) 2px 1px 3px;
    margin: 0.7em;
}
.game {
    font-size: 30px;
    transform: translateY(-25%);
    text-shadow: rgb(27, 84, 197) 2px 1px 3px;
    color: #c9d9dd;
}
body {
    background: linear-gradient(90deg, #1e1e44, #364d92);
}
#startGame {
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
